@model IEnumerable<Category>

<div class="container p-3">
    <div class="row justify-content-end">
        <div class="col-6">
            <h2>Category list</h2>
        </div>
        <div class="col-3 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-success"><i class="bi bi-plus"></i></a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead class="items">
        <tr>
            <th>ID</th>
            <th class="name-item">Name</th>
            <th>Create Day</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            var i = 1;
            @foreach (var item in Model)
            {
                <tr>
                    <td class="new-items">@i</td>
                    <td class="name-item">@item.Name</td>
                    <td class="new-items">@item.CreateDatetime</td>
                    <td class="action">
                        <div>
                            <a  class= "pencil"asp-controller="Category" asp-action="Edit" asp-route-id=@item.Id>
                                <i class="bi bi-pencil btn btn-warning"></i>
                            </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id=@item.Id>
                                <i class="bi bi-trash3 btn btn-danger"></i>
                            </a>
                        </div>

                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="4">There is currently no data!!!</td>
            </tr>
        }

    </tbody>
</table>