@{
	ViewData["Title"] = "Home Page";
}

<div class="content">
	<section class="full-width">
		<!-- Left-col-start-->
		<div class="left-col">
			<div class="widgetContainer">
				<div class="widgetContent">
					<div id="photos" class="galleryview withOutThumbs">
						<figure>
							<img src="/file/img/box3.png" />
						</figure>
						<figure>
							<img src="/file/img/box2.jpg" />
						</figure>
						<figure>
							<img src="/file/img/box3.png" />
						</figure>
						<figure>
							<img src="/file/img/box4.png" />
						</figure>
					</div>
				</div>
			</div>
			<br />
			<!-- Left-col-one-start-->
			<div class="left-col-one">
				<section class="most-view">
					<div class="title-1">
						<h2 class="sub-title">Most View Ideas</h2>
					</div>
					<div class="container-for-heading">
						<div class="new-block">
							<div class="d-flex w-100 justify-content-between">
								<a class="news-tag tag-1" href="#">abcdef</a>
								<h4 class="mb-1">Idea heading</h4>
								<small>3 days ago</small>
							</div>
							<hr />
							<p class="mb-1">idea had most view here.</p>
							<div class="button-list">
								<a class="arrow" href="#">
									Read more<i class='bx bx-chevron-right'></i>
								</a>
								<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>120</span>
								<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>120</span>
								<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>120</span>
							</div>
							<div class="clear"></div>
						</div>
						<div class="new-block-sub">
							<div class="d-flex w-100 justify-content-between">
								<a class="news-tag tag-2" href="#">abcdef</a>
								<h4 class="mb-1">Idea heading</h4>
								<small class="time">3 days ago</small>
							</div>
							<hr />
							<p class="mb-1">most view here</p>
							<div class="button-list">
								<a class="arrow" href="#">
									Read more<i class='bx bx-chevron-right'></i>
								</a>
								<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>120</span>
								<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>120</span>
								<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>120</span>
							</div>
							<div class="clear"></div>
						</div>
						<div class="new-block-sub right">
							<div class="d-flex w-100 justify-content-between">
								<a class="news-tag tag-3" href="#">abcdef</a>
								<h4 class="mb-1">Idea heading</h4>
								<small class="time">3 days ago</small>
							</div>
							<hr />
							<p class="mb-1">most view here</p>
							<div class="button-list">
								<a class="arrow" href="#">
									Read more<i class='bx bx-chevron-right'></i>
								</a>
								<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>120</span>
								<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>120</span>
								<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>120</span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</section>
				<section class="comment">
					<div class="title-4">
						<h2 class="sub-title">Lastest Comment</h2>
					</div>
					<div class="container-for-heading">
						<div class="accordion" id="accordionExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										Idea #1
									</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
									<div class="accordion-body">
										<strong>
											Comment_1
										</strong>
										<p class="mb-1">This is testing commnet for ideas</p>
										<a class="read-comt" href="#">
											Read more<i class='bx bx-chevron-right'></i>
										</a>
									</div>
									<div class="accordion-body">
										<strong>
											Comment_2
										</strong>
										<p class="mb-1">This is testing commnet for ideas</p>
										<a class="read-comt" href="#">
											Read more<i class='bx bx-chevron-right'></i>
										</a>
									</div>
									<div class="accordion-body">
										<strong>
											Comment_3
										</strong>
										<p class="mb-1">This is testing commnet for ideas</p>
										<a class="read-comt" href="#">
											Read more<i class='bx bx-chevron-right'></i>
										</a>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingTwo">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Idea #2
									</button>
								</h2>
								<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
									<div class="accordion-body">
										<strong>
											Comment_1
										</strong>
										<p class="mb-1">This is testing commnet for ideas</p>
										<a class="read-comt" href="#">
											Read more<i class='bx bx-chevron-right'></i>
										</a>
									</div>
									<div class="accordion-body">
										<strong>
											Comment_2
										</strong>
										<p class="mb-1">This is testing commnet for ideas</p>
										<a class="read-comt" href="#">
											Read more<i class='bx bx-chevron-right'></i>
										</a>
									</div>
									<div class="accordion-body">
										<strong>
											Comment_3
										</strong>
										<p class="mb-1">This is testing commnet for ideas</p>
										<a class="read-comt" href="#">
											Read more<i class='bx bx-chevron-right'></i>
										</a>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingThree">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Idea #3
									</button>
								</h2>
								<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
									<div class="accordion-body">
										<strong>
											Comment_1
										</strong>
										<p class="mb-1">This is testing commnet for ideas</p>
										<a class="read-comt" href="#">
											Read more<i class='bx bx-chevron-right'></i>
										</a>
									</div>
									<div class="accordion-body">
										<strong>
											Comment_2
										</strong>
										<p class="mb-1">This is testing commnet for ideas</p>
										<a class="read-comt" href="#">
											Read more<i class='bx bx-chevron-right'></i>
										</a>
									</div>
									<div class="accordion-body">
										<strong>
											Comment_3
										</strong>
										<p class="mb-1">This is testing commnet for ideas</p>
										<a class="read-comt" href="#">
											Read more<i class='bx bx-chevron-right'></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!-- Left-col-one-end-->
			<!-- Left-col-two-start-->
			<div class="left-col-two">
				<section class="popular-view">
					<div class="title-2">
						<h2 class="sub-title">Popular Ideas</h2>
					</div>
					<div class="container-for-heading">
						<div class="new-block">
							<div class="d-flex w-100 justify-content-between">
								<a class="news-tag tag-1" href="#">abcdef</a>
								<h4 class="mb-1">Idea heading</h4>
								<small>3 days ago</small>
							</div>
							<hr />
							<p class="mb-1">Popular view here.</p>
							<div class="button-list">
								<a class="arrow" href="#">
									Read more<i class='bx bx-chevron-right'></i>
								</a>
								<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>120</span>
								<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>120</span>
								<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>120</span>
							</div>
							<div class="clear"></div>
						</div>
						<div class="new-block">
							<div class="d-flex w-100 justify-content-between">
								<a class="news-tag tag-2" href="#">abcdef</a>
								<h4 class="mb-1">Idea heading</h4>
								<small>3 days ago</small>
							</div>
							<hr />
							<p class="mb-1">popular view here.</p>
							<div class="button-list">
								<a class="arrow" href="#">
									Read more<i class='bx bx-chevron-right'></i>
								</a>
								<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>999</span>
								<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>999</span>
								<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>999</span>
							</div>
							<div class="clear"></div>
						</div>
						<div class="new-block">
							<div class="d-flex w-100 justify-content-between">
								<a class="news-tag tag-5" href="#">abcdef</a>
								<h4 class="mb-1">Idea heading</h4>
								<small>3 days ago</small>
							</div>
							<hr />
							<p class="mb-1">popular view here.</p>
							<div class="button-list">
								<a class="arrow" href="#">
									Read more<i class='bx bx-chevron-right'></i>
								</a>
								<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>999</span>
								<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>999</span>
								<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>999</span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</section>
				
			</div>
			<!-- Left-col-two-end-->
		</div>
		<!-- Left-col-end-->
		<!-- Right-col-start-->
		<div  class="right-col">
			<section class="latest-ideas">
				<div class="title-3">
					<h2 class="sub-title">Latest Ideas</h2>
				</div>
				<div class="container-for-heading">
					<div class="new-block">
						<div class="d-flex w-100 justify-content-between">
							<a class="news-tag tag-1" href="#">abcdef</a>
							<h4 class="mb-1">Idea heading</h4>
							<small>3 days ago</small>
						</div>
						<hr />
						<p class="mb-1">This is where user see the latest ideas</p>
						<div class="button-list">
							<a class="arrow" href="#">
								Read more<i class='bx bx-chevron-right'></i>
							</a>
							<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>120</span>
							<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>120</span>
							<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>120</span>
						</div>
						<div class="clear"></div>
					</div>
					<div class="new-block">
						<div class="d-flex w-100 justify-content-between">
							<a class="news-tag tag-2" href="#">abcdef</a>
							<h4 class="mb-1">Idea heading</h4>
							<small>3 days ago</small>
						</div>
						<hr />
						<p class="mb-1">This is where user see latest ideas</p>
						<div class="button-list">
							<a class="arrow" href="#">
								Read more<i class='bx bx-chevron-right'></i>
							</a>
							<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>120</span>
							<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>120</span>
							<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>120</span>
						</div>
						<div class="clear"></div>
					</div>
					
					<div class="new-block">
						<div class="d-flex w-100 justify-content-between">
							<a class="news-tag tag-4" href="#">abcdef</a>
							<h4 class="mb-1">Idea heading</h4>
							<small>3 days ago</small>
						</div>
						<hr />
						<p class="mb-1">This is where user see latest idea</p>
						<div class="button-list">
							<a class="arrow" href="#">
								Read more<i class='bx bx-chevron-right'></i>
							</a>
							<span class="badge bg-primary rounded-pill"><i class="fa fa-eye"></i>120</span>
							<span class="badge bg-success rounded-pill"><i class="fa fa-thumbs-up"></i>120</span>
							<span class="badge bg-danger rounded-pill"><i class="fa fa-thumbs-down"></i>120</span>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</section>

			<section class="friend-view">
				<div class="title-2">
					<h2 class="sub-title">Friend Status</h2>
				</div>
			</section>
		</div>

	</section>
</div>
