@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Introducing our website, a platform dedicated to gathering ideas from staff members to improve our university. We believe that every member of our university community has valuable insights and perspectives that can contribute to making our institution a better place to learn and work.
    </p>
    <p> 
        Our website is designed to be user-friendly and accessible, making it easy for staff members to submit their ideas and suggestions. We welcome all ideas, whether they relate to academic programs, campus facilities, student services, or any other aspect of university life.
    </p>
    <p> 
        Once submitted, ideas are reviewed and evaluated by a team of experts, who work to identify those with the greatest potential impact. These ideas are then presented to university leadership for consideration and potential implementation.
    </p>
</div>
