@model Department

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Delete Department</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for=Name>Name</label>
            <input asp-for=Name disabled class="form-control" />
            <span asp-validation-for=Name class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-success text-white" asp-controller="Department" asp-action="Index">Back to List</a>
    </div>
</form>
@section Scripts{
        <partial name="_ValidationScriptsPartial" />
}
