<div>@ViewBag.TopicId</div>
<div>
    @ViewBag.TopicName
</div>
<div>
    @ViewBag.ClosureDate
</div>
<div>
    @ViewBag.FinalClosureDate
</div>
<a asp-controller="Idea" asp-action="Create" asp-route-id=@ViewBag.TopicId>
    <i class="fa fa-eye btn btn-secondary"></i>
</a>