<div class="container">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col">
                <h2>List of Idea</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            <dl class="row">
                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9">@ViewBag.TopicName</dd>
                <dt class="col-sm-3">Submission deadline:</dt>
                <dd class="col-sm-9">@ViewBag.ClosureDate</dd>
                <dt class="col-sm-3">Evaluation deadline:</dt>
                <dd class="col-sm-9">@ViewBag.FinalClosureDate</dd>
            </dl>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="items">
                <tr>
                    <th>Title</th>
                    <th>Brief</th>
                    <th>Views</th>
                    <th>Like</th>
                    <th>Dislike</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>
                        <a class="btn btn-outline-warning" asp-action="Detail">Details</a>
                        <a class="btn btn-outline-success">Like</a>
                        <a class="btn btn-outline-danger">Dislike</a>
                    </td>
                </tr>
            </thead>
                
        </table>
        <div>
            <a class="btn btn-light text-white" asp-controller="Idea" asp-action="Index">Back to List</a>
        </div>
</div>
