@model IEnumerable<Topic>

<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Topic list</h2>
        </div>     
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead class="items">
        <tr>
            <th class="name-item">Name</th>
            <th>Submission deadline</th>
            <th>Evaluation deadline</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="name-item">@item.Name</td>
                    <td class="new-items">@item.ClosureDate</td>
                    <td class="new-items">@item.FinalClosureDate</td>
                    <td class="action">
                        <div class="eyes">
                            <a asp-controller="Idea" asp-action="View" asp-route-id=@item.Id>
                                <i class="fa fa-eye btn btn-secondary"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">There are no topics available at this time!!!</td>
            </tr>
        }
    </tbody>
</table>