@model Comment
<div class="col-sm-5">
    <form class="cmt" asp-controller="Idea" asp-action="Comment" method="post">
        <input asp-for="IdeaId" type="hidden" value="@ViewBag.IdeaId" />
        <div>
            <label asp-for=Content>Leave a comment:</label>
            <textarea asp-for=Content class="form-control" rows="4"></textarea>
            <span asp-validation-for=Content class="text-danger"></span>
        </div>
        <div class="form-idea">
            <div class="showname">
                <input class="form-check-input" asp-for=isName>
                <label class="form-check-label" asp-for=isName>Show name</label>
                <div class="cmt-btn">
                    <button type="submit" class="btn btn-success send">Send</button>
                </div>
            </div>
        </div>
    </form>
</div>